<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Vinci ParkManager</title>
    <meta name="description" content="Nodejs/MySQL API with MVC architecture (Parking Management web app)">
    <meta name="author" content="Joaquim Dimitrov">
    <link rel="icon" href="favicon.ico">
</head>
<body>

    <nav>
        <h4>ParkManager Corp</h4>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">

        <div class="card">
            <div class="card-header">
                Connexion aux services Vinci Parkmanager 
            </div>
            <div class="card-body">
                <form action="/auth/login" method="POST">

                    <div class="form-group">
                        <label for="email">Nom d'utilisateur</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required="true">
                        <small id="emailHelp" class="form-text text-muted">Il s'agit de l'adresse email que vous avez utilisé lors de votre inscription.</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" required="true">
                    </div>

                    <button type="submit" class="btn btn-primary">Connexion</button>

                </form>
            </div>
        </div>

        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}

    </div>

    <div class="text-center mt-4">
        <a href="/register">Vous n'avez pas de compte ? Créez en un ici.</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>